.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel__image-container {
  display: flex;
  justify-content: center;
  max-height: 320px;
  height: 100%;
  max-width: 700px;
  width: 100%;
}

.carousel__image {
  max-width: 700px;
  max-height: 300px;
  object-fit: contain;
  border-radius: 20px;
  width: 100%;
}

.carousel__btn {
  color: rgb(226, 43, 226);
  background-color: transparent;
  border: none;
  font-size: 40px;
  padding: 0;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  border-radius: 20px;
  max-width: 1000px;
  width: 100%;
  height: 400px;
  object-fit: contain;
  padding: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image-container {
  width: 100%;
  max-width: 1000px;
  max-height: 588px;
  height: 100%;
}

.modal-image {
  border-radius: 20px;
  max-height: 388px;
  max-width: 800px;
}

.modal-close {
  position: absolute;
  top: -17px;
  right: 150px;
  background: transparent;
  color: rgb(226, 43, 226);
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 30px;
  will-change: filter;
  transition: filter 300ms;
}

.modal-close:hover {
  filter: drop-shadow(0 0 2em rgb(255, 0, 255));
}

.modal-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: rgb(226, 43, 226);
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 60px;
}

.modal-arrow.left {
  top: 0;
}

.modal-arrow.right {
  top: 420px;
}

@media (max-width: 425px) {
  .carousel {
    height: 230px;
    max-width: 600px;
    width: 100%;
  }

  .carousel__image-container {
    max-width: 600px;
    width: 100%;
    max-height: 400px;
    height: 100%;
  }

  .carousel__image {
    max-width: 600px;
    width: 100%;
    max-height: 400px;
    height: 100%;
  }

  .modal-content {
    height: 300px;
    max-width: 600px;
    width: 100%;
    padding: 5px;
  }

  .modal-image-container {
    max-width: 600px;
    width: 100%;
    max-height: 200px;
    height: 100%;
  }

  .modal-image {
    max-width: 600px;
    width: 100%;
    max-height: 200px;
    height: 100%;
  }

  .modal-close {
    top: 135px;
    right: 187px;
  }

  .modal-arrow.left {
    top: 30px;
  }

  .modal-arrow.right {
    top: 258px;
  }
}

@media (max-width: 375px) {
  .modal-close {
    right: 162px;
  }
}

@media (max-width: 320px) {
  .modal-close {
    right: 135px;
  }
}
