.footer {
  display: flex;
  justify-content: space-between;
  color: rgb(97, 132, 248);
  font-weight: 500;
  font-size: 20px;
  padding: 20px;
}

.footer__text {
  margin: 0;
}

@media (max-width: 375px) {
  .footer {
    flex-direction: column;
  }
}
